doctype html
html
  head
    include ./imports
    title #{student.username}'s Page
    style.
      h1{
        margin-top: 3%;
      }
      #profile{
        border-radius: 50%;
        width: 300px;
      }


    script.
     $(document).ready(function(){
       $("#work_form").hide();
       $("#cancel").hide();
       $("#add_work").click(function(){
         $("#work_form").show();
         $("#cancel").show();
         $("#work_form").removeClass("animated fadeOutLeft");
         $("#work_form").addClass("animated fadeInLeft");
         $("body, html").animate({
           scrollTop: $(document).height() }
           , "slow");
           })

         $("#cancel").click(function(){
           $("#work_form").removeClass("animated fadeInLeft");
           $("#work_form").addClass("animated fadeOutLeft");
           $("body, html").animate({
             scrollTop: 0 }
             , "slow");
           $("#cancel").hide();
           /*$("#work_form").css('visibility','hidden').removeClass("animated fadeInLeft")*/
           })
         })
  body
    include ./header
    h1(align="center") #{student.username}'s Page
    if(student.profile_picture)
      div(align="center")
        img.img-responsive(id="profile" src='/static/'+student.profile_picture)
        hr
      -var x = 3;
      -var first = true;
      each val in student.works
       -if(x==0)
          -x = 3;
          -first = false;
       div(class="col-md-4")
          .card
            if(val.pic)
              a(href="/static/"+val.pic target="_blank")
                img.img-fluid(src='/static/'+val.pic alt="Card image cap" width="200px" height="300px")
            .card-block
              h4.card-title #{val.name}
              if(val.link)
                a(href=val.link) Link to Project
              if(val.repository)
                  a(href=val.repository) Repo Url
       -if(x == 3 && first==false)
         br
         -console.log("first "+first)
       -x = x-1;
    -else
     -if(session)
        h3(align="center") It seems you have no portfolio
     -else
        h3(align="center") The student has no portfolio yet
    //- hr
    if(session && session.profile_picture == false)
      div(align="center")
        a(href="/students/"+student.id+"/create-portfolio")
          button(class="btn btn-lg btn-primary") Create One?

    -else if(session && session.profile_picture)
      div.row(align="center")
        div.col-md-12
          br
          br
          button.btn.btn-primary.btn-lg(id="add_work") Add Work
      br
      form(action="/students/"+student.id+'/create-work' id="work_form" enctype="multipart/form-data" method='POST')
        hr
        h4(align="center") Please provide details of the work you wish to add
        br
        div(class="form-group col-md-3 center-block")
          label(for="work_name") Name
          input(name="work_name" type="text" class="form-control" required)
        div(class="form-group col-md-3 center-block")
          label(for="file") Picture
          input(name="files" type="file")
        div(class="form-group col-md-3 center-block")
          label(for="repo_url") Repo URL
          input(name="repo_url" type="url" class="form-control" required)
        div(class="form-group col-md-3 center-block")
          label(for="repo_url") Link to Project
          input(name="repo_url" type="url" class="form-control" required)
        br
        div(align="center")
            button(class="btn btn-primary" type="submit") Add
      div(align="center")
        button(class="btn btn-warning" id="cancel") Cancel
